extends layout

block content
        div.container-fluid
                div.well
                        div.row-fluid
                                div.span12(align="center")
                                    div.span4.pull-left
                                        ul.nav.nav-pills
                                                li.active
                                                        a(href="#",onclick="clickpin()", id="pin") Pins
                                                li
                                                        a(href="#", onclick="clickuser()",  id="user") Users

                                    div.span4.pull-right
                                        ul.nav.nav-pills
                                                li.pull-right
                                                        a(href="#", onclick="clickbing()",  id="bing") Bing Search


                                        hr
                        - for (var i = 0; i < results.length; i=i+4)
                                div.row-fluid(align="center")
                                        div.span12
                                                div.span3.offset1
                                                        ul.thumbnails
                                                                li.span12
                                                                        - if (typeof (results[i]) !=='undefined')
                                                                            img(src="" + results[i].URL, width="500", height="150", data-bind="attr:{style:'cursor:pointer'}, click:function(data, event){pinitFromSearch("+results[i].OBJECTID+",'"+results[i].SOURCEID+"','"+results[i].URL+"')}")

                                                                
                                                                            Board: a.h5(href="http://127.0.0.1:3000/board/"+results[i].BOARDID) #{results[i].BOARDNAME}, 

                                                                            User: a.h5(href="http://127.0.0.1:3000/user/"+results[i].USERID) #{results[i].FIRSTNAME}  #{results[i].LASTNAME}
                                                                        else


                                                div.span3.offset1
                                                        ul.thumbnails
                                                                li.span12
                                                                        - if (typeof (results[i+1]) !=='undefined')
                                                                                img(src="" + results[i+1].URL, width="500", height="150", data-bind="attr:{style:'cursor:pointer'}, click:function(data, event){pinitFromSearch("+results[i+1].OBJECTID+",'"+results[i+1].SOURCEID+"','"+results[i+1].URL+"')}")
                                                                
                                                                                a.h5(href="http://127.0.0.1:3000/board/"+results[i+1].BOARDID) #{results[i+1].BOARDNAME}, 

                                                                                a.h5(href="http://127.0.0.1:3000/user/"+results[i+1].USERID) #{results[i+1].FIRSTNAME}  #{results[i+1].LASTNAME}
                                                                        else

                                                div.span3.offset1
                                                        ul.thumbnails
                                                                li.span12
                                                                        - if (typeof (results[i+2]) !=='undefined')
                                                                               img(src="" + results[i+2].URL, width="500", height="150", data-bind="attr:{style:'cursor:pointer'}, click:function(data, event){pinitFromSearch("+results[i+2].OBJECTID+",'"+results[i+2].SOURCEID+"','"+results[i+2].URL+"')}")

                                                                               a.h5(href="http://127.0.0.1:3000/board/"+results[i+2].BOARDID) #{results[i+2].BOARDNAME}, 

                                                                               a.h5(href="http://127.0.0.1:3000/user/"+results[i+2].USERID) #{results[i+2].FIRSTNAME}  #{results[i+2].LASTNAME}


                                                                
                                                                        else

                                                                        
                        div#dialog(title="Pin it!", style="display: none")
                                    img(data-bind="attr:{src: url}")
                                    select(data-bind="options: boards, optionsText: 'BOARDNAME', value: selectedBoard, optionsCaption: 'Choose a board'")
                                    button(data-bind="click:sendPinSearch") Pin it
                        div#noBoard(title="Pin it!", style="display: none")
                                    p Looks like you have no more boards to pin this to!