head
	link(href='/stylesheets/bootstrap.css', rel='stylesheet')
 
<br>
div.navbar
	div.container
		div.navbar-header
			div.brand
		div(align="right")
			ul.nav
				li.active
					a(href='#') Home
				li
					a(href='#') About
				li  
					a(href='#') Contact


//p #{results[0].FIRSTNAME}


div.container-fluid
	div.well

		div.row-fluid
			div.span8
				div.page-header(align="Center")
					h1  SMJA-SMJA
						small     CIS 550 Project

			div.span4
				div(align="center")
					h2(align="center") Search
					input.form-control(type="search", id="input", autofocus="true")
		

		div.row-fluid

			div.span12(align="center")
				ul.nav.nav-tabs
					li
						a(href='#') Pins
					li.active
						a(href='#') Users
					li  
						a(href='#') Boards



		div.row-fluid(align="center")
			div.span12
				each result, i in results
					div.span3
						ul.thumbnails
							li.span12
								a.thumbnail(href="http://127.0.0.1:3000/user/"+results[i].USERID)
									img(src="http://www.seas.upenn.edu/~sjajmann/pic.png", align="center")

								p #{results[i].FIRSTNAME}



	footer
		p #{results.length}
		
		p #{length}

		p(id = "print")

		ul
			each book, i in results
				li(value=i) Results #{book.OBJECTID}


script 
	document.getElementById("print").innerHTML=#{length}/4;